[submodule "3rdparty/DiligentCore"]
	path = 3rdparty/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw
